<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.MaterialMapper">

	<resultMap type="Material" id="material">
		<id property="id" column="m_id" />
		<result property="name" column="m_name" />
		<result property="publisher" column="publisher" />
		<result property="note" column="note" />
		<result property="created" column="created" />
		<result property="status" column="status" />
		<association property="materialType"
			resultMap="materialType" />
	</resultMap>

	<resultMap type="MaterialType" id="materialType">
		<id property="id" column="mt_id" />
		<result property="name" column="mt_name" />
	</resultMap>


	<select id="selectAll" resultMap="material">

		select m.id as m_id,
		m.name as
		m_name,
		publisher,
		note,
		mt.id as mt_id,
		mt.name as mt_name,
		created,
		status
		from materials m
		join material_types mt
		on m.material_type_id
		=mt.id
		where status = "ACT"
		order by created desc;

	</select>
	
<!--	ページネイション用-->
	<select id="selectAllByRow" parameterType="long" resultMap="material">

		select m.id as m_id,
		m.name as
		m_name,
		publisher,
		note,
		mt.id as mt_id,
		mt.name as mt_name,
		created,
		status
		from materials m
		join material_types mt
		on m.material_type_id
		=mt.id
		where status = "ACT"
		order by created desc
		limit #{offset},#{npp};

	</select>
	
	<select id="countAll" resultType="int">
	
	select count(*)
	from materials
	where status = "ACT";
	
	</select>
	

	<select id="selectById" parameterType="int" resultMap="material">

		select
		m.id as m_id,
		m.name as m_name,
		publisher,
		note,
		mt.id as mt_id,
		mt.name as
		mt_name,
		created,
		status
		from materials m
		join material_types mt
		on
		m.material_type_id = mt.id
		where m.id= #{id};

	</select>

	<update id="deleteById" parameterType="int">

		update materials
		set status
		= "DEL"
		where materials.id = #{id};
	</update>

	<insert id="addMaterial" parameterType="Material">

		insert into materials
		(name,publisher,note,material_type_id)
		values
		(#{name},#{publisher},#{note},#{materialType.id});

	</insert>

	<select id="searchMaterialByName" resultMap="material"
		parameterType="Material">

		select m.name as m_name
		from materials m
		where m.name = #{name};
	</select>

	<update id="editMaterial" parameterType="Material">

		UPDATE materials
		SET
		name = #{name},
		publisher = #{publisher},
		note = #{note},
		material_type_id = #{materialType.id}
		WHERE id = #{id};

	</update>


</mapper>