<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<title>視聴覚教材貸し出し</title>
</head>
<body>
<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="">視聴覚教材貸し出し</a>
      <ul class="navbar-nav">
        <li class="nav-item">鈴木洋子 [<a href="">ログアウト</a>]</li>
      </ul>
    </div>
  </nav>
</header>
<div class="container">

  <div class="row mt-4">
    <div class="col">
      <h2 class="h4">貸し出し中の教材</h2>
      <table class="table table-bordered">
        <tr>
          <th>教材名</th>
          <th>種類</th>
          <th>出版元</th>
          <th>備考</th>
          <th>返却</th>
        </tr>
        <tr>
          <td>文化人類学入門１</td>
          <td>DVD</td>
          <td>日本文化人類学協会</td>
          <td>全２巻。初学者向けのDVD</td>
          <td><a href="" class="btn btn-danger btn-sm">返却</a></td>
        </tr>
        <tr>
          <td>文化人類学入門２</td>
          <td>DVD</td>
          <td>日本文化人類学協会</td>
          <td>全２巻。初学者向けのDVD</td>
          <td><a href="" class="btn btn-danger btn-sm">返却</a></td>
        </tr>
      </table>

      <h1 class="h4 mt-5">貸し出し可能な教材</h1>
      <table class="table table-bordered">
        <tr>
          <th>教材名</th>
          <th>種類</th>
          <th>出版元</th>
          <th>備考</th>
          <th>貸し出し</th>
        </tr>
        <tr>
          <td>実践ビジネス英語とネゴシエーション１</td>
          <td>DVD</td>
          <td>ABC出版</td>
          <td>全２巻。中級者向け</td>
          <td><a href="" class="btn btn-success btn-sm">借りる</a></td>
        </tr>
        <tr>
          <td>実践ビジネス英語とネゴシエーション２</td>
          <td>DVD</td>
          <td>ABC出版</td>
          <td>全２巻。中級者向け</td>
          <td><a href="" class="btn btn-success btn-sm">借りる</a></td>
        </tr>
        <tr>
          <td>東京スカイツリー Visual Book</td>
          <td>書籍</td>
          <td>空町書房</td>
          <td></td>
          <td><a href="" class="btn btn-success btn-sm">借りる</a></td>
        </tr>
        <tr>
          <td>超時短！作り置きクッキング</td>
          <td>書籍</td>
          <td>XYZ出版</td>
          <td></td>
          <td><a href="" class="btn btn-success btn-sm">借りる</a></td>
        </tr>
        <tr>
          <td>諸学者のためのJava入門</td>
          <td>書籍</td>
          <td>ABC出版</td>
          <td></td>
          <td><a href="" class="btn btn-success btn-sm">借りる</a></td>
        </tr>
      </table>

      <ul class="pagination">
        <li class="page-item disabled"><a class="page-link" href="">&laquo;</a></li>
        <li class="page-item active"><a class="page-link" href="">1</a></li>
        <li class="page-item"><a class="page-link" href="">2</a></li>
        <li class="page-item"><a class="page-link" href="">3</a></li>
        <li class="page-item"><a class="page-link" href="">&raquo;</a></li>
      </ul>
    </div><!-- /.col- -->
  </div><!-- /.row -->

</div><!-- /.container -->
<script src="js/jquery-3.6.1.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>