<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<title>視聴覚教材貸し出し</title>
</head>
<body id="loginPage">
<div class="container">

  <div class="row justify-content-center">
    <div class="col col-md-6 mt-4">

      <div class="panel panel-default text-center">
        <h1 class="h3">ログイン</h1>
        <div class="panel-body">

          <div class="alert alert-danger">
              ログインIDまたはパスワードが正しくありません。
          </div>

          <form action="" method="post">
            <div class="mb-3">
              <input type="text" placeholder="ログインID" class="form-control">
            </div>
            <div class="mb-3">
              <input type="password" placeholder="パスワード" class="form-control">
            </div>
            <div class="mb-3">
              <input type="submit" class="btn btn-primary w-100" value="ログイン">
            </div>
          </form>

        </div>
      </div>

    </div><!-- /.col- -->
  </div><!-- /.row -->

</div><!-- /.container -->
<script src="js/jquery-3.6.1.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>
